/* LESS CSS */

@media screen and (max-width:990px){
	body{
		background-color:yellow;
	}     
}



@media screen and (max-width:768px){ 
	body{
		background-color:blue;
	}  
}



@media  screen and (max-width:640px){ 
	body{
		background-color:pink;
	}
}



@media  screen and (max-width:320px){ 
	body{
		background-color:red;
	}
}



