/* The Themeum/Kidze */

@media screen and (min-width: 1599px) and (max-width: 2565px){
 
    body{
        background-color: aquamarine;
    }
    
}


@media screen and (max-width: 1440px){
 
    body{
        background-color: darkcyan;
    }
    
}

@media screen and (max-width: 1199px){
 
    body{
        background-color: orange;
    }
    
}

@media screen and (max-width: 1024px){
 
    body{
        background-color: blue;
    }
    
}

@media screen and (max-width: 767px){
 
    body{
        background-color: yellow;
    }
    
}

@media screen and (max-width: 767px){
 
    body{
        background-color: green;
    }
    
    
    .topNav a:not(:first-child){
        display: none;
    }
   
    .topNav a.icon{
        float: right;
        display: block;
    }
    
    
    .topNav.responsive a{
        display: block;
    }
    
    .responsive{
        position: relative;
    }
    

    
    .topNav.responsive a.icon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    
}
@media screen and (max-width: 320px){
 
    body{
        background-color: red;
    }
    
}